<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgy</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'depenses/css/style.css' %}">
</head>
<body>

    <nav class="navbar">
        <span class="navbar-brand">💰 Budgy</span>
    </nav>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <script src="{% static 'depenses/js/modal.js' %}"></script>
</body>
</html>